body{
    padding: 0 !important;
    margin: 0 !important;
    background-image: url('../images/bcgrd.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top_nav{
    display: flex;
    justify-content: space-between;
    background:  #112337;
    margin-bottom: 20px;
}
.left_top li{
  display: inline;
  margin: 5px;
}
.left_top li a{
  text-decoration: none;
  color: #fff;
}
.left_top li a:hover{
  border-bottom: 2px solid #fff;
  color: #fff;
}
.right_top li{
  display: inline;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .top_nav{
    display: block;
  }
  .left_top li{
    text-align: center;
    display: block;
     margin: auto;
  }
  .right_top li{
    text-align: center;
    display: inline;
    margin: auto;
  }
}
.second_nav{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.mainnav {
    width:700px;
    overflow: hidden;
    margin: 15px 0 0 0;
}
.mainnav a {
	display: inline;
	text-align: center;
	padding: 10px 5px;
	text-decoration: none;
    font-size: 17px;
    color: #04396c;
    margin: 10px;
    font-weight: bold;
}
.mainnav a:hover {
	color: #031f4b;
}
.mainnav .icon {
	display: none;
}
@media screen and (max-width: 600px) {
	.mainnav a {
        display: none;
        background: #6497b1;
        color: #031f4b;
        margin: auto;
	}
	.mainnav a.icon {
        position: relative;
        top:-10px;
        border: none;
        background: #f8f9fa;
        color: 031f4b;
		float: right;
		display: block;
	}
}
@media screen and (max-width: 600px) {
	.mainnav.responsive {position: relative;}
	.mainnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: -5px;
	}
	.mainnav.responsive a {
        position: relative;
        top:50px;
		float: none;
		display: block;
		text-align: left;
	}
}
.text_style{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-weight:bolder;
}


.explain_feature1{
    background: #112337;
    color: #fff;
    border: 1px solid #112337
}
.explain_feature2{
    color: #112337;
    background: #fff;
    border: 1px solid #112337
}
.explain_feature1:hover{
    background: #25466d;
    color: #fff;
    border: 1px solid #04396c
}
.explain_feature2:hover{
    color: #04396c;
    background: #b3cde0;
    border: 1px solid #04396c
}

.why {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .why {
    grid-template-columns: repeat(4, 1fr);
  }
}
.icons img{
    height: 100px;
}
.footer{
        background: #112337;
}
.contact_form{
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.4);
}


/* pop up css start */

.modal {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
        margin:50px 23% 50px 23% ;
        border: 1px solid #999;
        width: 55%;
}
@media screen and (max-width: 600px) {
        .modal-content {
        margin:50px 4% 50px 4% ;
        border: 1px solid #999;
        width: 70%;
      }
}
.demo-form {
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5;
        background: #eee;
}
.contact-form button {
        width: 100%;
        padding: 10px;
        border: none;
        background: #035b96;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
}
.contact-form button:hover {
        background: #2371a0;
}
.close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
}
.close:hover,
.close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}
.button {
        background:#035b96;
        font-size: 1vw;
}
@media screen and (max-width: 600px) {
  .button {
        font-size: 2vw;
}
}
.button:hover {
    border: 1px solid #035b96 !important;
    color:#031f4b !important;
    background: #6497b1;
}


/* pop up css ends */